@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  @apply w-1 bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-disabled rounded-full;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

@layer components {
  .data-row.data-row-read .data-row-text {
    @apply !text-disabled font-normal;
  }
  .data-row.data-row-read .data-row-read-icon {
    @apply !text-disabled w-[6px] h-[6px];
  }
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
